<div class="col-sm-6 col-md-3 my-3 ">
  <div class="card content-card">
    <div class="card-header">
      【贈り物　or 貰い物】<br> Userの年齢、性別
    </div>
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body">
      <h5 class="card-title"><%= posts.name %>プレゼントの名前</h5>
      <p class="card-text text-truncate"><%= posts.content %></p>
      <a href="#" class="btn btn-primary">キープする</a>
      <div class="text-right">💛  keepx99</div>
    </div>
  </div>
</div>
